//- src/views/courses/index.pug
extends ../views/layouts/page.pug

block content
    p How many trees and flowers are growing on my street?

block footer
  a(href='https://github.com/VladyBarvy/hexlet-fastify') Project's GitHub
