//- this is layout of web site
//- src/views/layouts/page.pug
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test Fastify
    a(href='https://ru.hexlet.io/courses/js-web/lessons/layout/theory_unit') Main Page
    hr
  body
    p
      block content
      block search
    hr
    p
      block footer
      

  //- html
  //-   head
  //-     title My Site
  //-   body
  //-     block content
  //-     block footer

    